.Board {
    background: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    margin-left: 60px;
  }
  
  .Header {
    background:white;
    color: black;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
    font-size: 40px;
    font-weight: 200;
  }